<a class="btn btn-info" href="/category/add">Add new category</a>
<a class="btn btn-danger" href="/category/deleteall">Delete all</a>
<br><br>
<table border="1" class="table table-secondary">
   <tr>
      <th>Category name</th>
      <th>Category description</th>
      <th colspan="2">Menu</th>
   </tr>
   {{#each categories }}
   <tr>
      <td>
         <a href="/category/detail/{{ _id }}">
            {{ categoryname }}
         </a>
      </td>
      <td>{{ description }}</td>
      <td>
         <a class="btn btn-warning" href="/category/edit/{{ _id }}">Edit</a>
      </td>
      <td>
         <a class="btn btn-danger" href="/category/delete/{{ _id }}"
         onclick="return confirm('Are you sure to delete this category ?');"
         >Delete</a>
      </td>
   </tr>
   {{/each}}
</table>